<!doctype html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Nicholas Moran">
    <title>Moran Family Budget App</title>


    <!-- Bootstrap core CSS -->
    <link href="./css/bootstrap.min.css" rel="stylesheet">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        /* Custom page CSS
        -------------------------------------------------- */
        /* Not required for template or sticky footer method. */

        main>.container {
            padding: 60px 25px 0;
        }

        .footer {
            background-color: #f5f5f5;
        }

        .footer>.container {
            padding-right: 15px;
            padding-left: 15px;
        }

        code {
            font-size: 80%;
        }
    </style>
    <!-- Custom styles for this template -->
</head>

<body class="d-flex flex-column h-100">
    <header>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="#">Family Budget App</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapise navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="./index.html">Input <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./reports.html">Generate Report</a>
                    </li>
                </ul>

                <!-- <form class="form-inline mt-2 mt-md-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> -->
            </div>
        </nav>
    </header>

    <!-- Begin page content -->
    <main role="main" class="flex-shrink-0">
        <div class="container">
            <div class="row">
                <div class="col-auto">
                    <form id="receiptForm" class="needs-validation" novalidate>
                        <div class="form-row align-items-center">
                            <div class="col-2">
                                <label class="mr-sm-2 sr-only" for="receiptType">Type</label>
                                <select name="type" class="custom-select mr-sm-2" id="receiptTypeSelect">
                                    <option value="LOAN">LOAN</option>
                                    <option value="UTILITY">UTILITY</option>
                                    <option value="FOOD">FOOD</option>
                                    <option value="CLOTHING">CLOTHING</option>
                                    <option value="MISC">MISC</option>
                                    <option value="SCHOOL_FEES">SCHOOL_FEES</option>
                                    <option value="TRANSPORTATION">TRANSPORTATION</option>
                                </select>
                                <div class="invalid-feedback" id="typeFeedback">
                                    
                                </div>
                            </div>
                            <div class="col-auto">
                                <label class="sr-only" for="companyName">Company</label>
                                <input name="company" type="text" class="form-control mb-2" id="companyInput" placeholder="Some Company">
                                <div class="invalid-feedback" id="companyFeedback">
                                    
                                </div>
                            </div>
                            <div class="col-auto">
                                <label class="sr-only" for="description">Description</label>
                                <input type="text" class="form-control mb-2" id="descriptionInput"
                                    placeholder="Some Description" name="description">
                                <div class="invalid-feedback" id="descriptionFeedback">
                                    
                                </div>
                            </div>
                            <div class="col-2">
                                <label class="sr-only" for="amountGroup">Amount</label>
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">$</div>
                                    </div>
                                    <input type="money" class="form-control" id="amountInput" name="amount" placeholder="0.00">
                                    <div class="invalid-feedback" id="amountFeedback">
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-2">
                                <label class="sr-only" for="Date">Date</label>
                                <input type="text" id="datepicker" class="form-control" placeholder="Date" name="dateInput">
                                <div class="invalid-feedback" id="dateFeedback">
                                        
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-primary mb-2" onclick="submitReceipt()"
                        id="submitButton">Submit</button>
                </div>
            </div>
        </div>
        <div class="container">
            <div id="spentDiv">

            </div>
            <div id="recentReceiptDiv">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Type</th>
                            <th scope="col">Company</th>
                            <th scope="col">Description</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Date</th>
                        </tr>
                    </thead>
                    <tbody id="recentReceiptTableBody">

                    </tbody>
                </table>
            </div>
        </div>
    </main>

    <footer class="footer mt-auto py-3">
        <div class="container">
            <span class="text-muted">Moran Studios.</span>
        </div>
    </footer>
    <script src="./js/jquery.min.js">
    </script>
    <script>
        window.jQuery || document.write('<script src="/docs/4.4/assets/js/vendor/jquery.slim.min.js"><\/script>')
    </script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="./js/bootstrap.bundle.min.js">
    </script>
    <script src="./js/input.js"></script>
</body>

</html>